[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
cryptography = "==37.0.4"
cython = "==3.0.4"
pyyaml = "==5.2"
django = "~=4.2.8"
django-tailwind = {extras = ["reload"], version = "*"}
firebase-admin = "==6.1.0"
django-environ = "~=0.11.2"
mysqlclient = "~=2.2.1"
django-allauth = "~=0.59.0"
django-htmx = "~=1.17.2"
cffi = "~=1.14.6"
djangorestframework = "*"
drf-yasg = "*"
grpcio = "~=1.41.1"
pymysql = "*"
crispy-tailwind = "~=0.5.0"
django-widget-tweaks = "==1.4.12"
whitenoise = "==6.0.0"
django-mathfilters = "==1.0.0"
django-filter = "==22.1"
