[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
django = "~=4.2.8"
django-tailwind = {extras = ["reload"], version = "*"}
firebase-admin = "*"
django-environ = "~=0.11.2"
mysqlclient = "~=2.2.1"
django-allauth = "~=0.59.0"
django-htmx = "~=1.17.2"
cffi = "~=1.15.0"
djangorestframework = "*"
drf-yasg = "*"
cryptography = "==37.0.4"
