<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform 
        processPath="F:\server\nginx\webapps\cf_fishing_dev\cold_fusion_fishing\.venv\Scripts\python.exe" 
        arguments="waitress_runserver.py" 
        startupTimeLimit="20" stdoutLogEnabled="true" 
        stdoutLogFile="F:\server\nginx\webapps\cf_fishing_dev\app.log">
        </httpPlatform>
    </system.webServer>
</configuration>