{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="card-list grid grid-cols-1 grid-row-col gap-1 sm:grid-cols-3 sm:gap-2 md:grid-cols-4 md:gap-3 rounded-md">
    {% for item in fish_tanks %}
        <div class="card bg-gray-50 dark:bg-gray-900 rounded-md shadow-gray-700 shadow-sm mb-2">
            <div class="card-header py-3 px-5 flex flex-row justify-between items-start">
                <h2 class="text-gray-800 dark:text-gray-400 md:text-2xl font-bold uppercase">{{ item.title }}</h2>
                {% if item.is_active %}
                    <div class="text-xs badge bg-green-800 font-medium text-gray-300">Active</div>
                {% else %}
                    <div class="text-xs badge bg-red-800 font-medium text-gray-300">Off</div>
                {% endif %}
            </div>
            <div class="divide-y divide-gray-400"></div>
            <div class="card-body py-2 px-3">
                {% with item.current_project as current_project %}
                    {% if current_project %}
                        <table class="w-full table-xs table table-condensed text-gray-700 dark:text-gray-300">
                            <tbody>
                            <tr class="border-gray-300 dark:border-gray-700">
                                <th class="text-gray-800 dark:text-gray-400">
                                    {% if LANGUAGE_CODE == 'bn' %}
                                        প্রজেক্ট
                                    {% else %}
                                        Project
                                    {% endif %}
                                </th>
                                <th>{{ current_project }}</th>
                            </tr>
                            <tr class="border-gray-300 dark:border-gray-700">
                                <td>
                                    {% if LANGUAGE_CODE == 'bn' %}
                                        শুরু
                                    {% else %}
                                        Start Date
                                    {% endif %}
                                </td>
                                <td>
                                    {{ current_project.start_date|date:"d-m-Y" }}
                                </td>
                            </tr>
                            <tr class="border-gray-300 dark:border-gray-700">
                                <td>
                                    {% if LANGUAGE_CODE == 'bn' %}
                                        সমাপ্তি
                                    {% else %}
                                        End Date
                                    {% endif %}
                                </td>
                                <td>
                                    {{ current_project.end_date|date:"d-m-Y" }}
                                </td>
                            </tr>
                            <tr class="border-gray-300 dark:border-gray-700">
                                <td>
                                    {% if LANGUAGE_CODE == 'bn' %}
                                        মোট সংখ্যা(শুরু)
                                    {% else %}
                                        Initial Count
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="badge border-gray-600 bg-gray-100 text-gray-700 font-semibold">
                                        {{ current_project.initial_quantity|localize }}
                                    </span>

                                </td>
                            </tr>
                            <tr class="border-gray-300 dark:border-gray-700">
                                <td>
                                    {% if LANGUAGE_CODE == 'bn' %}
                                        জীবিত
                                    {% else %}
                                        Live
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="badge border-green-600 bg-green-100 text-green-700 font-semibold">
                                        {{ item.total_live }}
                                    </span>
                                </td>
                            </tr>
                            <tr class="border-gray-300 dark:border-gray-700">
                                <td>
                                    {% if LANGUAGE_CODE == 'bn' %}
                                        মৃত
                                    {% else %}
                                        Dead
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="badge border-red-600 bg-red-100 text-red-700 font-semibold">
                                        {{ item.total_dead }}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <div class="text-[12px] text-center text-amber-800 dark:text-amber-400 px-3 py-4">
                            {% if LANGUAGE_CODE == 'bn' %}
                                কোন প্রজেক্ট নেই
                            {% else %}
                                No Project
                            {% endif %}
                        </div>
                    {% endif %}
                {% endwith %}

            </div>
        </div>
    {% endfor %}
</div>
