{% extends "dashboard/base.html" %}
{% load l10n %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col fixed min-h-screen w-full bg-gray-500 dark:bg-gray-700 justify-center items-center
    top-0 bottom-0 right-0 left-0 px-3">
        <div class="card login-box bg-gray-100 dark:bg-gray-900 rounded-md py-10 px-5
        max-w-[450px] w-full">
            <h1 class="text-gray-700 dark:text-gray-400 uppercase font-bold text-center flex justify-center mb-5
text-2xl">
                {% trans "Sign In" %}
            </h1>
            {#            <div class="flex justify-center mb-3">#}
            {#                <p class="text-center text-sm">#}
            {#                    {% blocktrans %}If you have not created an account yet, then please#}
            {#                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}#}
            {#                </p>#}
            {#            </div>#}

            <div class="form-box w-full">
                {% url 'account_login' as login_url %}
                <form method="post" enctype="multipart/form-data" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="w-full text-center mb-3">
                        {% if form.non_field_errors %}
                            <div class="text-red-500 text-sm">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% for field in form %}

                        <div class="flex flex-col mb-3">

                            {% if field.name == 'login' %}
                                <div class="form-control">
                                    <label class="mb-2"
                                           for="{{ field.id_for_label }}">
                                        Username/Email
                                    </label>
                                    <input class="input rounded-md border-gray-300 py-2 px-3"
                                           type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" value=""
                                    />
                                    <div class="w-full text-red-500 text-sm">
                                        {{ field.errors }}
                                    </div>
                                </div>

                            {% endif %}
                            {% if field.name == 'password' %}
                                <div class="form-control mb-2">
                                    <label class="mb-2"
                                           for="{{ field.id_for_label }}">Password</label>
                                    <input class="input rounded-md border-gray-300 py-2 px-3"
                                           type="password" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                    <div class="w-full text-red-500 text-sm">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if field.name == 'remember' %}
                                <div class="form-control">
                                    <label class="label cursor-pointer">
                                        <span class="label-text">Remember me</span>
                                        <input type="checkbox" class="toggle"
                                               name="{{ field.name }}" id="{{ field.id_for_label }}"/>
                                    </label>
                                </div>
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-red-500 text-sm">{{ error }}</div>
                            {% endfor %}

                        </div>
                    {% endfor %}
                    {% if redirect_field_value %}
                        <input type="hidden"
                               name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="flex flex-col w-full">
                        <button type="submit" class="rounded-md bg-gray-800 dark:bg-gray-300 text-gray-200
                        dark:text-gray-800 font-bold uppercase
                        py-2 px-3">Sign
                            in</button>
                    </div>
                </form>

            </div>


        </div>

    </div>

{% endblock content %}
