{% extends 'dashboard/base.html' %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col justify-center items-center mt-24">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body flex justify-center">
                <p class="justify-center text-center">{% trans 'Are you sure you want to sign out?' %}</p>
                {% url 'account_logout' as action_url %}
                <form class="mt-6"
                        method="post" action="{{ action_url }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-actions justify-center">
                        <button class="btn btn-error text-white">{% trans "Logout" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
