{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% load form_filters %}
{% load widget_tweaks %}
{% load tailwind_form_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block content %}
    <div class="card rounded-md mt-4 bg-white dark:bg-gray-900">
        <div class="card-header px-8 py-5">
            <h1 class="font-bold text-2xl">
                {% trans "Change Password" %}
            </h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data"
                  class="w-full max-w-[450px]">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-control mb-2">
                        {{ field|add_label_class:"font-bold mb-2" }}
                        {{ field|field_input:"rounded-md text-gray-800 dark:text-gray-300 bg-gray-200 dark:bg-gray-700" }}
                        {% if field.help_text %}
                            <small class="text-gray-500">
                                {{ field.help_text }}
                            </small>
                        {% endif %}
                        {% if field.errors %}
                            <div class="w-full mt-2">
                                {% for error in field.errors %}
                                    <small class="text-red-500 mt-2">
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
                <div class="form-control mt-5 w-full">
                    <button type="submit"
                            class="btn btn-success">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
