{% extends 'dashboard/base.html' %}

{% block head_title %}Profile{% endblock %}

{% block content %}
    <div class="card mt-4 bg-gray-50 dark:bg-gray-900 rounded-md">
        <div class="card-header px-4 py-3">
            <h2 class="font-bold text-gray-700 dark:text-gray-300 text-3xl mb-2">Hello, {{ user.username }}</h2>
            <h3 class="font-bold text-gray-700 dark:text-gray-300 text-2xl">Welcome to your dashboard.</h3>
        </div>
        <div class="card-body px-0">
            <div class="flex flex-col px-5">
                <h4 class="font-bold text-gray-700 dark:text-gray-400">Account Information</h4>
            </div>
            <div class="overflow-x-auto px-1">
                <table class="table divide-gray-400 border-0 text-gray-700 dark:text-gray-300">
                    <tbody>
                    <tr class="border-0">
                        <td class="max-w-[120px]">Name</td>
                        <td class="max-w-[10px] px-1 text-center">:</td>
                        <td>
                            {% if user.full_name %}
                                {{ user.full_name }}
                            {% else %}
                                <span class="text-gray-400">-</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="border-0">
                        <td class="max-w-[120px]">Email</td>
                        <td class="max-w-[10px] px-1 text-center">:</td>

                        <td>
                            <span class="font-medium space-x-0.5">{{ user.email }}</span>
                        </td>
                    </tr>
                    <tr class="border-0">
                        <td class="max-w-[120px]">Active</td>
                        <td class="max-w-[10px] px-1 text-center">:</td>

                        <td>
                            <div class="form-control">
                                {% if user.is_active %}
                                    <input type="checkbox" class="toggle checked:border-green-700
                                checked:bg-green-700 checked:opacity-80 "
                                           checked
                                           disabled/>
                                {% else %}
                                    <input type="checkbox" class="toggle" disabled/>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr class="border-0">
                        <td class="max-w-[120px]">Staff</td>
                        <td class="max-w-[10px] px-1 text-center">:</td>

                        <td>
                            {% if user.is_staff %}
                                <input type="checkbox" class="toggle checked:border-green-700
                                checked:bg-green-700 checked:opacity-80"
                                       checked
                                       disabled/>
                            {% else %}
                                <input type="checkbox" class="toggle" disabled/>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="max-w-[120px]">Superuser</td>
                        <td class="max-w-[10px] px-1 text-center">:</td>

                        <td>
                            {% if user.is_superuser %}
                                <input type="checkbox" class="toggle checked:border-green-700
                                checked:bg-green-700 checked:opacity-80"
                                       checked
                                       disabled/>
                            {% else %}
                                <input type="checkbox" class="toggle" disabled/>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
{% endblock %}
