{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block head_title %}
    Fish Tanks
{% endblock %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="card bg-gray-50 dark:bg-gray-900 mt-4">
        <div class="card-header flex bg-white dark:bg-gray-900 px-5 py-3 items-center rounded-t-md">
            <div>
                <h3 class="font-bold text-gray-700 dark:text-gray-300">
                    {% if LANGUAGE_CODE == 'bn' %}
                        ফিশ ট্যাঙ্ক তালিকা
                    {% else %}
                        Fish Tanks
                    {% endif %}
                </h3>

            </div>
            <div class="ml-auto">
                <a class="btn btn-sm bg-gray-50 text-gray-700 hover:text-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-100 dark:hover:text-gray-800"
                   href=
                           "{% url 'dashboard:fish_tanks:fish_tank_create' %}">
                    {% if LANGUAGE_CODE == 'bn' %}
                        অ্যাড করুন
                    {% else %}
                        Add New
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="card-body py-0 px-0 dark:bg-gray-900">
            <div class="overflow-x-auto">
                <table class="table table-sm min-w-full divide-y divide-gray-200 dark:divide-gray-700 text-gray-700 dark:text-gray-300">
                    <!-- head -->
                    <thead class="bg-white dark:bg-gray-900">
                    <tr class="border-0">
                        <th class="text-black dark:text-gray-400">
                            {% if LANGUAGE_CODE == 'bn' %}
                                নাম
                            {% else %}
                                Name
                            {% endif %}
                        </th>
                        <th class="text-black dark:text-gray-400">
                            {% if LANGUAGE_CODE == 'bn' %}
                                ক্যাপাসিটি
                            {% else %}
                                Capacity
                            {% endif %}
                        </th>
                        <th class="text-black dark:text-gray-400">
                            {% if LANGUAGE_CODE == 'bn' %}
                                আয়তন
                            {% else %}
                                Volume
                            {% endif %}
                        </th>
                        <th class="text-black dark:text-gray-400">
                            {% if LANGUAGE_CODE == 'bn' %}
                                স্ট্যাটাস
                            {% else %}
                                Status
                            {% endif %}
                        </th>
                        <th class="text-black dark:text-gray-400">
                            {% if LANGUAGE_CODE == 'bn' %}
                                বর্তমান প্রজেক্ট
                            {% else %}
                                Current Project
                            {% endif %}
                        </th>
                        <th class="text-black dark:text-gray-400">
                            {% if LANGUAGE_CODE == 'bn' %}
                                অ্যাকশন
                            {% else %}
                                Action
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="dark:bg-gray-900">
                    <!-- row 1 -->
                    {% for item in fish_tanks %}
                        <tr class="border-gray-200 dark:border-gray-700">

                            <td class="">
                                <div class="flex items-center gap-3">
                                    <div>
                                        <div class="font-bold">{{ item.title }}</div>
                                        {#                                        <div class="text-sm opacity-50">United States</div>#}
                                    </div>
                                </div>
                            </td>
                            <td class="">
                                {{ item.capacity }}
                            </td>
                            <td class="">
                                {{ item.volume }}
                            </td>
                            <td class="">
                                {% if item.is_active %}
                                    <span class="badge text-gray-700 bg-green-200 dark:bg-green-900 text-xs border-0
                                    dark:text-gray-300">
                                        {% if LANGUAGE_CODE == 'bn' %}
                                            চালু
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </span>
                                {% else %}
                                    <span class="badge text-gray-100 text-xs bg-red-700 border-0 dark:text-gray-300">
                                        {% if LANGUAGE_CODE == 'bn' %}
                                            বন্ধ
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </td>
                            <td class="">
                                {% if item.current_project %}
                                    {{ item.current_project }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="">
                                <div class="flex items-center">
                                    <button class="bg-gray-800 w-7 h-7 rounded-md text-white flex items-center justify-center"
                                            hx-trigger="click"
                                            hx-target="#modal_tank_quick_view .modal-content"
                                            hx-swap="innerHTML"
                                            hx-on:htmx:before-request="openModal(event)"
                                            hx-on:htmx:after-request="afterReqeust(event)"
                                            hx-get="{% url 'dashboard:fish_tanks:htmx:fish_tank_quick_view' item.id %}"
                                    >
                                        <span class="material-symbols-outlined text-[14px]">visibility</span>
                                    </button>
                                    <a class="bg-indigo-800 w-7 h-7 rounded-md text-white flex items-center justify-center ml-2"
                                       href="{% url 'dashboard:fish_tanks:fish_tank_detail' item.pk %}">
                                        <span class="material-symbols-outlined text-[14px]">edit</span>
                                    </a>

                                </div>

                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center bg-white dark:bg-white">
                                <div class="py-4">
                                    <div class="text-4xl text-gray-400">
                                        <span class="material-symbols-outlined">sentiment_very_dissatisfied</span>
                                    </div>
                                    <div class="text-xl text-gray-400">
                                        No Data Found
                                    </div>
                                </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <!-- foot -->

                </table>
            </div>
        </div>
    </div>
    <!-- Open the modal using ID.showModal() method -->
    <dialog id="modal_tank_quick_view" class="modal">
        <div class="modal-box bg-gray-50 dark:bg-gray-800">
            <div class="skeleton-box hidden">
                <div class="skeleton h-32 w-full mb-2"></div>
                <div class="skeleton h-4 w-28 mb-1"></div>
                <div class="skeleton h-4 w-full mb-1"></div>
                <div class="skeleton h-4 w-full"></div>
            </div>
            <div class="modal-content">

            </div>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-sm bg-red-600 text-gray-50 border-0" type="submit">Close</button>
                </form>
            </div>
            <div class="modal-backdrop" for="modal_tank_quick_view">Close</div>
        </div>

    </dialog>
{% endblock %}
{% block body_scripts %}
    <script>
        function openModal(evt) {
            let modal = document.getElementById('modal_tank_quick_view');
            let modal_content = modal.querySelectorAll('.modal-content');
            modal_content.forEach((item) => {
                item.innerHTML = '';
            })
            let skeleton_box = modal.querySelectorAll('.skeleton-box');
            skeleton_box.forEach((item) => {
                item.classList.remove('hidden');
            })
            modal.showModal();
        }

        function afterReqeust(evt) {
            let modal = document.getElementById('modal_tank_quick_view');
            let skeleton_box = modal.querySelectorAll('.skeleton-box');
            skeleton_box.forEach((item) => {
                item.classList.add('hidden');
            })
        }
    </script>
{% endblock %}
