<form
        id="activity-add-form"
        method="post" enctype="multipart/form-data"
{#        hx-post="{% url 'dashboard:projects:add_project_activity' project.id %}"#}
        action="{% url 'dashboard:projects:add_project_activity' project.id %}"
        onsubmit="addNewActivity(event)"
{#        hx-trigger="submit"#}
{#        hx-target="#project-activity-list-table tbody"#}
{#        hx-target-error="#activity-add-form-box"#}
{#        hx-swap="beforeend"#}
{#        hx-on:htmx:after-request="handleResponse(event)"#}

>
    {% csrf_token %}
    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-2 xl:grid-cols-5">
        {% for field in form %}
            <div class="flex flex-col justify-start items-start mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-red-500 text-xs font-normal">{{ error }}</div>
                {% endfor %}
            </div>

        {% endfor %}

    </div>
    <div class="flex flex-row  items-center mb-3">

        <button type="button"
                onclick="this.closest('form').remove();"
                class="btn btn-sm bg-gray-100 border-red-600 text-red-600 hover:bg-red-600 hover:text-gray-50
                min-w-[100px]">Cancel
        </button>
        <button type="submit"
                class="btn btn-sm bg-gray-100 text-indigo-950 border-indigo-950 hover:bg-indigo-950
                hover:text-gray-50 ml-4 min-w-[100px]">Add
        </button>
    </div>


</form>
<script>
function addNewActivity(evt) {
    evt.preventDefault();
    const form = document.getElementById('activity-add-form');
    const formData = new FormData(form);
    const url = form.getAttribute('action');
    const method = form.getAttribute('method');

    $.ajax({
        url: url,
        method: method,
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
            console.log(data);
            $('#project-activity-list-table tbody:first').prepend(data);
            form.reset();
        },
        error: function (data) {
            const errorBox = document.getElementById('activity-add-form-box');
            errorBox.innerHTML = data.responseText;
        }
    })

}


</script>
