{% load i18n %}
<table id="project-activity-list-table" class="table table-xs table-zebra">
    <thead>
    <tr>
        <th align="center">{% trans 'Date' %}</th>
        {#        <th class="md:hidden" style="min-width: 100px">Dead/Live</th>#}
        <th class="text-center">{% trans 'Dead/Alive' %}</th>
        <th class="text-center">Weight (gm)</th>
        <th class="text-center">Feed</th>
        <th class="text-center">Molas to Add(gm)</th>
        <th class="text-center">Undigested (%)</th>
        <th class="text-center">Feed Protein (%)</th>
        <th class="text-center">Expected C.N</th>
        <th class="text-center">Feed N/C</th>
        <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for activity in daily_activities %}
        {% include 'projects/dashboard/daily_activities/includes/daily_activity_row.html' with days=forloop.revcounter %}
    {% empty %}
        <tr>
            <td colspan="10" class="text-center">No data available</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
