{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load form_filters %}
{% load tailwind_form_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% load widget_tweaks %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="card mt-4 bg-white dark:bg-gray-900 rounded-md">
        <div class="card-header flex px-4 py-3 items-center">
            <h3 class="text-gray-800 dark:text-gray-100 ">
                {% if LANGUAGE_CODE == 'bn' %}
                    নতুন প্রজেক্ট অ্যাড করুন
                {% else %}
                    Create New Project
                {% endif %}
            </h3>
        </div>
        <div class="card-body px-4 pt-2">
            <div class="form-box max-w-[600px]">
                <form method="post">
                    {% csrf_token %}
                    <div class="flex flex-col mb-3">
                        {{ form.title|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                        {{ form.title|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                        {% if form.tank_number.help_text %}
                            <small class="text-gray-500">{{ form.tank_number.help_text }}</small>
                        {% endif %}
                        {% for error in form.tank_number.errors %}
                            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="grid grid-cols-2 sm:grid-cols-2 gap-2">
                        <div class="flex flex-col mb-2">
                            {{ form.start_date|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                            {{ form.start_date|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                            {% if form.start_date.help_text %}
                                <small class="text-gray-500">{{ form.start_date.help_text }}</small>
                            {% endif %}
                            {% for error in form.start_date.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="flex flex-col mb-2">
                            {{ form.end_date|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                            {{ form.end_date|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                            {% if form.end_date.help_text %}
                                <small class="text-gray-500">{{ form.end_date.help_text }}</small>
                            {% endif %}
                            {% for error in form.end_date.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="flex flex-col mb-2">
                            {{ form.tank|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                            {{ form.tank|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                            {% if form.tank.help_text %}
                                <small class="text-gray-500">{{ form.tank.help_text }}</small>
                            {% endif %}
                            {% for error in form.tank.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="flex flex-col mb-2">
                            {{ form.initial_quantity|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                            {{ form.initial_quantity|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                            {% if form.initial_quantity.help_text %}
                                <small class="text-gray-500">{{ form.initial_quantity.help_text }}</small>
                            {% endif %}
                            {% for error in form.initial_quantity.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="flex flex-col">
                            {{ form.undigested_percentage|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                            {{ form.undigested_percentage|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                            {% if form.undigested_percentage.help_text %}
                                <small class="text-gray-500">{{ form.undigested_percentage.help_text }}</small>
                            {% endif %}
                            {% for error in form.undigested_percentage.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="flex flex-col">
                            {{ form.expected_cn|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                            {{ form.expected_cn|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                            {% if form.expected_cn.help_text %}
                                <small class="text-gray-500">{{ form.expected_cn.help_text }}</small>
                            {% endif %}
                            {% for error in form.expected_cn.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="flex flex-col mt-3">
                        {{ form.description|label_with_classes:"mb-2 font-semibold text-gray-700 dark:text-gray-300" }}
                        {{ form.description|field_input:"text-gray-700 bg-gray-50 border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 rounded-md" }}
                         {% if form.description.help_text %}
                                <small class="text-gray-500">{{ form.description.help_text }}</small>
                            {% endif %}
                            {% for error in form.description.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                    </div>

                    <div class="flex mt-4">
                        <button type="submit"
                                class="btn btn-success w-full md:max-w-[180px]">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
