{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block head_title %}{{ project.title }}{% endblock %}

{% block content %}
    <div class="card w-full bg-white dark:bg-gray-900 rounded-md mt-4 pb-4">
        <div class="card-header px-4 py-3 flex flex-row justify-between">
            <div class="text-gray-700 dark:text-gray-300">
                <h2 class="font-bold text-2xl px-1">{{ project.title }}</h2>
                <table class="w-full table table-xs">
                    <tbody>
                    <tr class="border-0">
                        <th>Tank</th>
                        <td>
                            {% if project.tank %}
                                {{ project.tank.tank_number }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>

                    </tr>
                    <tr class="border-0">
                        <th>Start Date</th>
                        <td>{{ project.start_date }}</td>
                    </tr>
                    <tr class="border-0">
                        <th>Initial Quantity</th>
                        <td>{{ project.initial_quantity }}</td>
                    </tr>
                    <tr class="border-0">
                        <th>Dead</th>
                        <td>{{ project.total_dead }}</td>
                    </tr>
                    <tr class="border-0">
                        <th>Live</th>
                        <td>{{ project.total_live }}</td>
                    </tr>
                    <tr class="border-0">
                        <th>Undigested</th>
                        <td>{{ project.undigested_percentage }}%</td>
                    </tr>
                    <tr class="border-0">
                        <th>Expected C.N</th>
                        <td>
                            {% if project.expected_cn %}
                                {{ project.expected_cn }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="">
                <button type="button"
                        class="btn btn-sm bg-dark-800 text-white dark:bg-gray-50 dark:text-gray-800"
                        hx-get="{% url 'dashboard:projects:htmx:htmx_add_daily_activity_form' project.id %}"
                        hx-target="#activity-add-form-box"
                >Add New Date
                </button>
            </div>
        </div>
        <div class="card-body px-2 py-2"
             hx-ext="response-targets"
        >
            <div id="activity-add-form-box"
                 class="overflow-x-auto px-3 mb-3 flex flex-col w-full"

            >
            </div>
            <div id="daily_activity_table" class="overflow-x-auto px-2"
                 hx-trigger="load"
                 hx-get="{% url 'dashboard:projects:htmx:htmx_daily_activity_table_list' project.id %}"
                 hx-target="#daily_activity_table"
                 hx-swap="InnerHTML">
                <div class="flex flex-col justify-center items-center">
                    <span class="loading loading-infinity loading-lg"></span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block body_scripts %}
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })

        function handleResponse(evt) {
            {#console.log(evt.detail)#}
            const status = evt.detail.xhr.status;
            {#console.log(status)#}
            const target = evt.detail.target;
            if (status >= 400) {
                {#document.getElementById('activity-add-form').reset();#}
                {#const target = document.getElementById('activity-add-form-box');#}
                if (target.id === 'activity-add-form-box') {
                    target.innerHTML = evt.detail.xhr.responseText;
                }
            }
        }
    </script>

{% endblock %}
