{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load mathfilters %}
{% load project_tags %}

<tr class="border-gray-300 dark:border-gray-800">
    <td class="py-1" style="min-width: 100px">
        <table class="table table-xs w-full">
            <tr class="border-gray-300 dark:border-gray-800">
                <td align="center">Day {{ day_number }}</td>
            </tr>
            <tr class="border-0">
                <td align="center">{{ activity.activity_date|date:"d-m-Y" }}</td>
            </tr>
        </table>
    </td>
    <td class="text-center py-1">
        <table class="table w-full">
            <tr class="border-gray-300 dark:border-gray-800">
                <td align="center" class="text-red-500 font-bold">
                    {% if LANGUAGE_CODE == 'bn' %}
                        মৃত
                    {% else %}
                        Dead
                    {% endif %}
                </td>
                <td align="center">
                    <span class="badge bg-red-200 border-red-600 text-gray-800 font-semibold">
                        {{ activity.dead_fish }}
                    </span>
                </td>
            </tr>
            <tr class="border-gray-300 dark:border-gray-800">
                <td align="center" class="text-green-700 dark:text-green-500 font-bold">
                    {% if LANGUAGE_CODE == 'bn' %}
                        জীবিত
                    {% else %}
                        Live
                    {% endif %}
                </td>
                <td align="center">
                    <span class="badge bg-green-100 border-green-600 text-gray-800 font-semibold">
                        {{ activity.day_total_live }}
                    </span>
                </td>
            </tr>
            <tr>
                <td align="center" class=" font-bold">
                    {% if LANGUAGE_CODE == 'bn' %}
                        মোট মৃত
                    {% else %}
                        Total Dead
                    {% endif %}
                </td>
                <td align="center">
                    <span class="badge border-gray-700 bg-gray-300 text-gray-950 font-semibold">
                        {{ activity.project_total_dead|add:activity.dead_fish }}
                    </span>
                </td>
            </tr>
        </table>
    </td>
    <td class="text-center py-1" style="min-width: 150px">
        <table class="w-full table table-xs border-0">
            <tr class="border-gray-300 dark:border-gray-800">
                <td>
                    {% if LANGUAGE_CODE == 'bn' %}
                        প্রতি
                    {% else %}
                        Single
                    {% endif %}
                </td>
                <td>{{ activity.single_fish_weight|floatformat:3 }} <span>
                        {% if LANGUAGE_CODE == 'bn' %}
                            গ্রাম
                        {% else %}
                            gm
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr class="border-gray-300 dark:border-gray-800">
                <td>
                    {% if LANGUAGE_CODE == 'bn' %}
                        মোট
                    {% else %}
                        Total
                    {% endif %}
                </td>
                <td>{{ activity|day_total_weight|floatformat:2 }} <span>
                        {% if LANGUAGE_CODE == 'bn' %}
                            গ্রাম
                        {% else %}
                            gm
                        {% endif %}
                    </span> <br>
                    {{ activity|day_total_weight|div:1000|floatformat:2 }} <span>
                        {% if LANGUAGE_CODE == 'bn' %}
                            কেজি
                        {% else %}
                            kg
                        {% endif %}
                    </span>

                </td>
            </tr>
        </table>
    </td>
    <td class="text-center py-1">
        {{ activity|activity_todays_feed|floatformat:2 }}
    </td>
    <td class="text-center py-1">
        <span class="badge badge-info">
            {{ activity|activity_molas_to_add|floatformat:2 }}
        </span>
    </td>
    <td class="text-center py-1 hidden">{{ activity.feed_protein_percentage }}</td>
    <td class="text-center py-1 hidden">{{ activity.expected_cn|floatformat:2 }}</td>
    <td class="text-center py-1 hidden">
        <table class="table-xs w-full">
            <tr>
                <td>N</td>
                <td>{{ activity.feed_n|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>C</td>
                <td>{{ activity.feed_c|floatformat:2 }}</td>
            </tr>
        </table>
    </td>
    <td class="text-center py-1">
        <button type="button" class="font-normal bg-red-600 text-white w-8 h-8 flex flex-col justify-center
                 items-center rounded-md"
                hx-delete="{% url 'dashboard:projects:project_activity_detail' activity.id %}"
                hx-confirm="Are you sure?"
                hx-target="closest tr"
                hx-swap="outerHTML swap:1s">
            <span class="material-symbols-outlined text-[18px]">delete</span>
        </button>
    </td>
</tr>
